<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>Documentation</title>
	</head>
	<body>
		<h1>Root node: /api/</h1>

		<h2>Authorization end-points. All are POST requests.</h2>
		<ul>
			<li>/register/ : to register. data: {"username", "password"}. returns {"token"}.</li>
			<li>/login/ : to login. data: {"username", "password"}. returns {"token"}.</li>
			<li>/logout/ : to logout.</li>
		</ul>

		<h2>User end-points. Require "Authorization: Bearer &lt;auth-token&gt;" as header (returns response code 403 otherwise).</h2>
		<ul>
			<h3>/me/</h3>
			<ul>
				<li>/ : retrieve information about me. {"nick", "avatar", "personality", "interests", "mood"}.</li>
				<h4>/personality/</h4>
				<ul>
					<li>/ : retrieve information about my personality. {"fire": {"value", "adjectives": [ {"name", "description"} ] }, "water", "air", "earth", "space"}.</li>
					<li>/update/ : (GET, POST) update information about my personality by taking a personality test. GET: {"id", "questions": ["q1", "q2"] }. POST - data: {"id", "answers": [1, 3] }.</li>
				</ul>
				<h4>/interests/</h4>
				<ul>
					<li>/ : retrieve information about my interests. [ {"id", "name", "amount", "answers": [ {"question", "answer"} ] } ].</li>
					<li>/update/ : (POST) update my interests. data: [ {"interest": &lt;interest-id&gt;, "amount": 2} ]. setting amount to zero will remove that interest.</li>
					<li>/&lt;interest-id&gt;/ : retrieve answers about my specific interest.</li>
					<li>/&lt;interest-id&gt;/update/ : (POST) update answers about my interest. data: [ {"question": &lt;question-id&gt;, "answer": "answer text"} ]. empty answer string deletes that answer.</li>
				</ul>
				<h4>/avatar/</h4>
				<ul>
					<li>/ : retrieve information about my avatar. {"url", "name", "mood", "base", "variants": [{"id", "mood", "url"}, {},..] }.</li>
					<li>/update/ : (POST) update my avatar. data: {"id": 1}.</li>
				</ul>
			</ul>

			<h3>/interests/</h3>
			<ul>
				<li>/ : retrieve all interests. [ {"id", "name"}, {},..].</li>
				<li>/&lt;interest-id&gt;/ : retrieve all data for this interest id. {"name", "questions": [ {"id", "text"}, {},..]}.</li>
			</ul>

			<h3>/avatars/</h3>
			<ul>
				<li>/ : retrieve all avatars. [ {"id", "name", "url"}, {},..].</li>
				<li>/&lt;avatar-id&gt;/ : retrieve all variants for this avatar id. [{"id", "mood", "url"}, {},..].</li>
			</ul>

			<h3>/find/</h3>
			<ul>
				<li>/ : retrieve all users I can find. {"views-remaining", "users": [{"id", "avatar", "mood", "personality"}, {},..] }.</li>
				<li>/&lt;id&gt;/ : view a user info. returns same data as /me/. returns error if max views exceeded.</li>
				<li>/request/ : (POST) request a connection from this user. returns error if not viewed or already requested.</li>
			</ul>

			<h3>/views/</h3>
			<ul>
				<li>/ : retrieve all users who have viewed my profile. [ {"id", "nick", "personality", "interests", "avatar", "mood"}, {},..].</li>
				<li>/&lt;id&gt;/ : view a user info. returns same data as /me/.</li>
			</ul>

			<h3>/requests/</h3>
			<ul>
				<li>/ : retrieve all users who have requested for my connection. [ {"id", "nick", "personality", "interests", "avatar", "mood"}, {},..].</li>
				<li>/&lt;id&gt;/ : view a user info. returns same data as /me/.</li>
				<li>/accept/ : (POST) accept a request. date: {"id": 1}. returns an error if request already accepted.</li>
			</ul>

			<h3>/found/</h3>
			<ul>
				<li>/ : retrieve all users connected with me. [ {"id", "me (1 or 2)", "nick", "avatar", "interests", "retain_request_sent", "retained"}, {},..].</li>
				<li>/&lt;id&gt;/ : view a user info. returns same data as /me/.</li>
				<li>/retain/ : (POST) retain a connected user. data: {"id": 1}.</li>
			</ul>
		</ul>

		<h2>All response are in json format and contain "error" field if an error occured (and return response code 404). response["error"] is well-formatted and can be shown to the user. otherwise contain the data.</h2>
		<h2>Auth token may expire due to security reasons (returns response code 401). If this happens, ask user to login again.</h2>
	</body>
</html>
