<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<h1>Documentation</h1>
		<h2>Root node: /api/</h2>
		<ul>
			<h3>Authorization end-points. All are POST requests.</h3>
			<li>/register/ : to register. data: {"username", "password"}. returns {"token"}.</li>
			<li>/login/ : to login. data: {"username", "password"}. returns {"token"}.</li>
			<li>/logout/ : to logout.</li>
		</ul>
		<ul>
			<h3>User end-points. Require "Authorization: Bearer &lt;auth-token&gt;" as header (returns error 403 otherwise). Retrieve are GET requests, update are POST requests.</h3>
			<li>/me/ : retrieve information about me. {"nick", "avatar" (with mood), "avatar-base" (without mood), "personality", "interests", "mood"}.</li>
			<li>/me/personality/ : retrieve information about my personality. {"fire", "water", "air", "earth", "space"}.</li>
			<li>/me/personality/update/ : (GET, POST) update information about my personality by taking a personality test. GET: {"id", "questions": ["q1", "q2"] }. POST - data: {"id", "answers": [1, 3] }.</li>
			<li>/me/interests/ : retrieve information about my interests. [ {"id", "name", "amount", "answers": [ {"question", "answer"} ] } ].</li>
			<li>/me/interests/update/ : (POST) update my interests. data: {"interests": [1, 2, 3], "amounts": [0, 2, 1]}. setting amount to zero will remove that interest.</li>
			<li>/me/interests/&lt;interest-id&gt;/ : retrieve answers about my specific interest.</li>
			<li>/me/interests/&lt;interest-id&gt;/update/ : (POST) update answers about my interest. data: {"question": &lt;question-id&gt;, "answer": "answer text"}.</li>
			<li>/me/avatar/ : retrieve information about my avatar. {"url", "name", "mood", "base", "variants": [{"id", "mood", "url"}, {},..] }.</li>
			<li>/me/avatar/update/ : (POST) update my avatar. data: {"id": 1}.</li>
			<li>/interests/ : retrieve all interests. [ {"id", "name"}, {},..].</li>
			<li>/interests/&lt;interest-id&gt;/ : retrieve all data for this interest id. {"name", "questions": [ {"id", "text"}, {},..]}.</li>
			<li>/avatars/ : retrieve all avatars. [ {"id", "name", "url"}, {},..].</li>
			<li>/avatars/&lt;interest-id&gt;/ : retrieve all variants for this avatar id. [{"id", "mood", "url"}, {},..].</li>
			<li>/find/ : retrieve all users I can find. {"views-remaining", "users": [{"id", "avatar", "mood", "personality"}, {},..] }.</li>
			<li>/find/view/ : (POST) view a user. data: {"id": 1}. returns same data as /me/. returns error if max views exceeded.</li>
			<li>/find/request/ : (POST) request a connection from this user. returns error if not viewed or already requested.</li>
			<li>/requests/ : retrieve all users who have requested for my connection. [ {"id", "avatar"}, {},..].</li>
			<li>/requests/accept/ : (POST) accept a request. date: id=1. returns an error if request already accepted.</li>
			<li>/found/ : retrieve all users connected with me. [ {"id", "nick", "avatar", "retained"}, {},..].</li>
			<li>/found/retain/ : (POST) retain a connected user. data: {"id": 1}.</li>
		</ul>
		<h3>All response are in json format and contain "error" field if an error occured (and return error 404), otherwise contain the data.</h3>
		<h3>Auth token may expire due to security reasons (returns error 401). If this happens, ask user to login again.</h3>
	</body>
</html>
